<!doctype html>
<html>
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
      <script type="text/javascript" src="js/app.js"></script>
  
      <meta charset="UTF-8">

      <title>Simple expense manager project - CodePen</title>
      <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

      <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />

   </head>

<body ng-app="angularExpenseApp" ng-controller="expenseController">
   <h1>Simple expense manager project</h1>

   <div id="form-box">
      <h2>Add a new item:</h2>
      <div class="add-btn">
         <span class="add-text">Add a friend</span>
         <div class="friend-input">
            <div><input type="text" placeholder="Eg: Vandy" /></div>
         </div>
         <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-plus fa-stack-1x" title="Add a friend"></i>
         </span>
      </div>
      <div>
         <form role="form" >
           <div>
             <span>Type:</span> 
               <select ng-model="expense.types">
                   <option value="card">Card</option>
                   <option value="cash">Cash</option>
                   <option value="other">Other</option>
               </select>
           </div>
           <div>
             <span>Add friend:</span> 
              <!--  <select ng-model="expense.friend" multiple="multiple">
                   <option value="Andy">Andy</option>
                   <option value="Sandy">Sandy</option>
                   <option value="Randy">Randy</option>
                   <option value="Mandy">Mandy</option>
               </select> -->
               <select ng-model="expense.SelectedFriends" ng-options="friend as friend for friend in friends" multiple="multiple"></select>
             <div class="error-msg"></div>
           </div>
           <div>
             <span>Name:</span> <input type="text" ng-model="expense.itemName" placeholder="What did you spend on?">
             <div class="error-msg"><!--Please select an option--></div>
           </div>
           <div>
             <span>Date:</span> <input type="date" ng-model="expense.date">
             <div class="error-msg"><!--Please select an option--></div>
           </div>

           <div>
             <span>Currency:</span> 
               <select ng-model="expense.currency">
                  <option ng-repeat="currenC in currencies" value="{{currenC.name}}">{{currenC.name}}</option>
               </select>
           </div>
           <div>
             <span>Amount:</span> <input type="number" ng-model="expense.amount" placeholder="How much?">
             <div class="error-msg">Cannot be empty</div>
           </div>

           <button type="submit" ng-click="addExpense(expense)" id="submit">Submit!</button>
           {{expense}}
           {{expenses}}
         </form>
      </div>
   </div>
   <div class="filter-block">
       <div class="filter-option">
         <span>Filter by friend:</span>
         <select ng-model="filtr" ng-options="friend as friend for friend in friends"></select>

       </div>
       <div class="filter-option">
         <span>Currency:</span>
         <select ng-model="currencyfiltr">
            <option ng-change="setCurrency(currencyfiltr)" ng-repeat="currenC in currencies" value="{{currenC.name}}">{{currenC.name}}</option>
         </select>
       </div>
   </div>
   <table>
      <tr>
       <th id="type" class="center">type</th>
       <th>name</th>
       <th>Friends</th>
       <th id="date">date</th>
       <th style="text-align: right" id="amount">amount</th>
       <th class="table-btn">edit</th>
       <th class="table-btn">delete</th>
      </tr>
      <tr ng-show="!expenses.length">
       <td colspan="4"><span>Your added items will show up here!</span></td>
      </tr>
      <tr ng-repeat="x in expenses | filter : filtr">
         <td>{{ x.types }}</td>
         <td>{{ x.itemName }}</td>
         <td > <span ng-repeat="friend in x.SelectedFriends">{{ friend }} &nbsp;</span></td>
         <td>{{ x.date }}</td>
         <td>{{ x.amount }}</td>
      </tr>
   </table>
</body>

</html>